/* Akeeba Release System */

.com_ars .componentheading {
	display: none;
}

#ars-categories-normal > div.module,
#ars-categories-bleedingedge > div.module,
.item-38 div#content-main > div > div.module,
.item-65 div#content-main > div > div.module,
.ars-releases > div.module {
	background-color: #151522;
	border-bottom: 1px solid #21213a;
	margin-bottom: 15px;
	padding: 15px;
}

#ars-categories-normal h3.je-header a,
#ars-categories-bleedingedge h3.je-header a,
.item-38 div#content-main > div > div.module h3.je-header,
.item-65 div#content-main > div > div.module h3.je-header,
h3.je-header a {
	font-family: bree;
	text-decoration: none;
}

.ars-release-properties,
.ars-item-properties {
	background: none;
	font-family: 'GothamLightRegular';
	font-size: 16px;
	font-weight: 100;
	margin: 10px 0;
}

.ars-releases-latest {
	margin-bottom: 15px;
	margin-top: 15px;
}

.ars-latest-items-filename {
	float: left;
}

.ars-latest-items-downloaded {
	float: right;
	font-family: bree;
	font-weight: 100;
}

.ars-compat {
	float: right;
	padding-left: 5px;
	text-align: center;
}

.ars-label {
	font-family: 'GothamMediumRegular';
}

.ars-latest-items {
	margin: 8px 0;
}

.ars-latest-items-title {
	font-family: 'GothamMediumRegular';
	font-size: 18px;
	width: 100%;
}

.ars-category-readon, a.readon {
	font-family: 'GothamLightRegular';
	font-size: 16px;
}

.ars-category-description p {
	font-family: 'GothamLightRegular';
	font-size: 16px;
	font-weight: 100;
	margin: 25px;
}

#ars-categories-normal h2,
#ars-categories-bleedingedge h2 {
	font-family: bree;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 25px;
	margin-left: 10px;
}

#ars-categories-bleedingedge h2 {
	padding-top: 20px;
}

#ars-categories-normal .custom,
#ars-categories-bleedingedge .custom {
	font-size: 16px !important;
	line-height: 25px;
}

#content-main .akeeba-bootstrap h3 {
	font-size: 24px;
	font-family: bree;
	font-weight: normal;
	margin-top: 10px;
}

.akeeba-bootstrap h3 a {
	text-decoration: none;
}

.ars-browse-releases div.current {
	margin-bottom: 10px;
}

.ars-browse-releases ul.nav-tabs {
	padding: 0;
}

.ars-browse-releases ul.nav-tabs li,
div.current dd {
	font-family: 'GothamLightRegular';
	font-size: 14px;
	font-weight: 100;
}

.ars-browse-releases ul.nav-tabs li.active {
	color: #10101c;
}

.ars-browse-releases h3 {
	font-family: bree;
}

.ars-browse-releases > p,
.ars-item-description {
	font-family: 'GothamLightRegular';
	font-size: 16px;
	font-weight: 100;
}

div.current dd ul {
	margin-bottom: 10px;
}

.ars-devrelease-changelog-minor {
	color: #cccccc;
}

.ars-devrelease-changelog-added {
	color: #00ff00;
	font-weight: 100;
}

.ars-devrelease-changelog-bugfix {
	color: #00bfff;
}

.ars-devrelease-changelog-removed {
	color: #ff0000;
}

.ars-devrelease-changelog-important {
	background: #ffff00;
	color: #ff0000;
	font-weight: bold;
}

.ars-devrelease-changelog-default {
	color: #ffffff;
}

.ars-list-release .ars-item-property-environment-icon {
	vertical-align: top !important;
}
